@media(min-width: 991px) {
  .booking_view__modal {
    max-height:100vh
  }
}

@media(max-width: 991px) {
  .booking_view__modal {
    width:100%;
    margin: 0!important
  }
}

@media(min-width: 767px) {
  .booking_view__modal {
    min-width:500px;
    max-height: 90vh;
    max-width: 90%!important;
    color: var(--bokun-color-ui-secondary-text)
  }
}

.booking_view__modal::-webkit-scrollbar {
  width: 4px
}

.booking_view__modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,.3)
}

.booking_view__modal::-webkit-scrollbar-thumb {
  background-color: var(--bokun-color-primary);
  outline: 1px solid #708090
}

@media(max-width: 991px) {
  .react-responsive-modal-modal {
    width:100%;
    margin: 0
  }
}

@media(max-width: 499px) {
  .react-responsive-modal-container::-webkit-scrollbar {
    width:4px
  }

  .react-responsive-modal-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3)
  }

  .react-responsive-modal-container::-webkit-scrollbar-thumb {
    background-color: var(--bokun-color-primary);
    outline: 1px solid #708090
  }
}
