.step-3 .subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.step-3 .subtitle-text {
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #686868;
}
.step-3 .title {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
}
.step-3 .title-text {
    font-size: 32px;
    max-width: 210px;
}
.step-3 .icon-wrap {
    margin-right: 2px;
}
.step-3 form,
.step-3 .form-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: space-between;
}
.step-3 form .item-form {
    width: calc(50% - 20px);
    margin-bottom: 28px;
}
.step-3 form .item-form .label span,
.step-3 form .item-form label span {
    color: #686868;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--fontMedium);
    margin-bottom: 4px;
    display: inline-block;
}
.step-3 form .item-form .label span.red,
.step-3 form .item-form label span.red {
    display: inline-block;
    color: red;
}
.step-3 form .item-form input {
    border: 2px solid #F6F6F6;
    border-radius: 8px;
    color: #000;
    padding: 15px;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    font-family: var(--fontMedium);
    height: 54px;
}
.step-3 form .full-width.checkbox-item {
    margin-bottom: 0;
}
.step-3 form .full-width {
    width: 100%;
}
.step-3 form .full-width.checkbox-item .form-group {
    display: flex;
    align-items: center;
    position: relative;
}
.step-3 form .item-form.checkbox-item input {
    width: auto;
}
.step-3 form .full-width.checkbox-item input {
    position: absolute;
    opacity: 0;
    max-height: 30px;
    display: block;
}
.step-3 form .checkbox-item label {
    display: flex;
    align-items: center;
    color: red;
    font-weight: 500;
    font-family: var(--fontMedium);
    position: relative;
}
.step-3 .terms-and-conditions {
    list-style-type: none;
    display: inline-flex;
    margin-left: 5px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}
.step-3 .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}
.step-3 .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    width: 5px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.step-3 .error-box  {
    font-size: 16px;
    color: red;
    padding: 3px;
    font-weight: 500;
    font-family: var(--fontMedium);
    display: none;
}
.step-3 .btns-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    width: 100%;
}
.step-3 .btns-wrap input {
    width: 100%;
    text-align: center;
    justify-content: center;
}
.step-3 .form-group input:checked + label:before {
    background-color: red;
}
.step-3 form .item-form span.error-message {
    font-size: 16px;
    color: red;
    padding: 3px;
    font-weight: 500;
    font-family: var(--fontMedium);
}
.step-3 form .international-phone .react-tel-input input {
    padding-right: 0;
    pointer-events: none;
    width:inherit;
    background: #F2F2F2;
    border-radius: inherit;
    z-index: 111;
    background: transparent;
}
.step-3 form .item-form .international-phone input {
    padding-left: 41px;
    border: none;
}
.step-3 .btns-wrap button {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.step-3 .subtitle-text {
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #686868;
}
.step-3 .close-button {
    width: 24px;
    height: 24px;
    padding: 4px;
    z-index: 2;
    cursor: pointer;
    margin-left: auto;
}
.step-3 .title {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
}
.step-3 .subtitle-text.subtitle-text-mobile {
    margin-bottom: 8px;
    display: none;
}
.step-3 .title-text {
    font-size: 32px;
    max-width: 210px;
    font-family: var(--fontBold);
    font-weight: 700;
    color: #000;
    margin: 0;
}
.step-3 .guide {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}
.step-3 .photo-wrap {
    width: 90px;
    height: 90px;
}
.step-3 .photo-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.step-3 .guide-name {
    font-size: 20px;
    font-family: var(--fontBold);
    font-weight: 700;
    color: #000;
}
.step-3 .guide-rate {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.step-3 .icon-wrap {
    width: 20px;
    height: 20px;
}
.step-3 .guide-rate span {
    font-size: 14px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #000;
    margin-left: 2px;
}
.step-3 .guide-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.step-3 .flex-change {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--bg_color);
    border: 2px solid var(--bg_color);
    border-radius: 8px;
    padding: 12px;
    margin-top: 15px;
}
.step-3 .flex-change .flex-box {
    display: flex;
    align-items: center;
}
.step-3 .item-data {
    display: flex;
}
.step-3 .item-data span {
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #000;
}
.step-3 .choosen-date {
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #000;
    text-align: left;
    margin-top: 0;
    margin-right: 5px;
}
.step-3 span {
    margin-right: 3px;
}
.step-3 .red {
    color: red;
}
.step-3 .time-current-modal {
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #000;
}
.item.step-3 .flex-change .tour-item {
    width: auto ;
    padding: 0 ;
    margin: 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg_color);
    border: 2px solid var(--bg_color);
    border-radius: 8px;
    pointer-events: none;
    flex-wrap: wrap;
    flex-direction: column;
}
.step-3 .tour-item .tour-item__time {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.step-3 .duration {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 5px;
    font-weight: 500;
    font-family: var(--fontMedium);
    color: #000;
}
.step-3 .duration .clock-wrap {
    margin-right: 6px;
}
.step-3 .people {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #000;
}
.step-3 .country-box-select {
    display: flex;
    margin-left: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}
.step-3 .center-wrap button {
    text-transform: capitalize;
}
.step-3 .btns-wrap button {
    padding: 18px;
    font-size: 20px;
    font-family: var(--fontMedium);
}

.step-3 .calendar_choose_date_loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.5);
    display: none;
}
.step-3 .calendar_choose_date_loader.show-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-3 .calendar_choose_date_loader .lds-dual-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.calendar_choose_date_loader .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
.iti--fullscreen-popup.iti--container {
    z-index: 99999999;
}
.step-3 .general-error {
    font-size: 20px;
    color: red;
    padding: 0 3px 3px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: var(--fontMedium);
    list-style: none;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 767px){
    .step-3 .icon-wrap,
    .step-3 .icon-wrap svg {
        width: 16px;
        height: 16px;
    }
    .step-3 .guide-rate {
        justify-content: flex-end;
    }
    .step-3 .time-current-modal span.comma {
        display: none;
    }
    .step-3 .guide-name {
        font-size: 16px;
    }
    .step-3 .guide-info {
        margin-left: 0;
    }
    .step-3 .title-text {
        font-size: 24px;
    }
    .step-3 .time-current-modal {
        display: flex;
    }
    .step-3 .subtitle-text {
        display: none;
    }
    .step-3 .subtitle-text.subtitle-text-mobile {
        margin-bottom: 8px;
        display: block;
    }
    .step-3 .guide {
        flex-direction: column;
        margin-left: 5px;
    }
    .step-3 .photo-wrap {
        margin-bottom: 8px;
    }
    .step-3 .flex-change .flex-box {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .step-3 .flex-change .append-wrap2 {
        margin-top: 15px;
        margin-bottom: 20px;
        display: flex;
    }
    .step-3 .center-wrap {
        display: block;
        margin: auto;
    }
    .step-3 form .item-form {
        width: 100%;
        margin-bottom: 15px;
    }
    .step-3 form .item-form .label span,
    .step-3 form .item-form label span {
        margin-bottom: 2px;
    }
    .step-3 form,
    .step-3 .form-wrap {
        margin-bottom: 10px;
    }
}
@media(max-width: 370px){
    .step-3 .choosen-date,
    .step-3 .item-data span,
    .step-3 .people,
    .step-3 .duration{
        font-size: 18px;
    }
}