.modal-tour-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: var(--bg_color);
    border: 2px solid var(--bg_color);
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
}
.modal-tour-item:hover {
    border-color: var(--main_color);
}
.modal-tour-item h5 {
    margin: 0 auto 10px 0;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--fontMedium);
    color: var(--title_color);
}
.modal-tour-item .tour-item__time {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal-tour-item .start-time {
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #000;
}
.modal-tour-item .duration {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--fontMedium);
    color: #000;
}
.modal-tour-item  .clock-wrap {
    width: 14px;
    height: 16px;
    margin-right: 6px;
}
.modal-tour-item .clock-wrap path {
    fill: #000;
}


