.city_banner {
    padding: 115px 0 20px;
}
.city_banner .flex-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 65px;
}
.city_banner .pick_text {
    width: 100%;
    margin-bottom: 18px;
    color: #fff;
    text-align: center;
}
.city_banner .pick_text--md {
    font-size: 24px;
    max-width: 424px;
    margin: 0 auto 18px auto;
    text-align: center;
}
.city_banner .intro {
    position: relative;
    z-index: 1;
}
@media (max-width: 767px) {
    .city_banner .pick_text {
        margin: 0 auto 8px auto;
        max-width: 235px;
        text-align: left;
    }
    .city_banner .pick_text--md {
        max-width: 424px;
        margin: 0 auto 18px auto;
        text-align: center;
    }
    .city_banner .button_custom {
        font-size: 16px;
        min-height: 44px;
    }
    .city_banner .flex-row button:last-of-type {
        padding: 13px;
    }
}