.custom_modal .trigger{
    text-align: center;
    padding: 7px 13px;
    background: #3e3e3e;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: cursive;
}

.edit_tour_modal {
    position: fixed;
    left: 0;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
	display: flex;
	align-items: center;
    min-width: 30vw;
}
.edit_tour_modal.transition {
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.edit_tour_modal #edit_tour {
    width: 100%;
}
.edit_tour_modal .modal_content {
	/*max-width: 90%;*/
	background: #fff;
	border-radius: 16px;
	z-index: 2;
	margin: 0 auto;
	padding: 30px 30px 50px;
	max-height: 90vh;
	overflow: auto;
    min-width: 640px;
    position: relative;
}
.edit_tour_modal .modal_content .button_custom {
    padding: 18px 10px;
    margin-top: 20px;
}

.edit_tour_modal .close_button {
	width: 24px;
	height: 24px;
	padding: 4px;
	z-index: 2;
	cursor: pointer;
    margin-left: auto;
    display: block;
}
.edit_tour_modal .close_button svg{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.edit_tour_modal .close_button svg path {
	transition: 0.3s;
}
.edit_tour_modal .close_button:hover svg path {
	fill: var(--btn_bg_color);
}
.edit_tour_modal.show_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.edit_tour_modal .close-button {
    width: 24px;
    height: 24px;
    padding: 4px;
    z-index: 2;
    cursor: pointer;
    margin-left: auto;
    font: 700 32px/1.105 var(--fontBold);
    color: var(--title_color);
}
.edit_tour_modal .step-1 .close-button {
    position: absolute;
    right: 0;
    top: 20px;
}
.edit_tour_modal button {
    width: 100%;
    justify-content: center;
}
.edit_tour_modal .choosen-date {
    margin-top: 30px;
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #000;
   
}
.edit_tour_modal .item--people {
    margin: 10px 0 20px 0;
}
.edit_tour_modal .item--row strong {
    margin: 0 10px;
}
.edit_tour_modal .item.item--people {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: row;
}
.edit_tour_modal .item {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
}
.edit_tour_modal label {
    width: 100%;
    font-size: 16px;
    line-height: 1.22;
    font-family: var(--fontMedium);
    margin-top: 20px;
}
.edit_tour_modal input {
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 6px 35px 5px 0;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    outline: none;
    font-family: var(--font);
    font-size: 16px;
}
.edit_tour_modal .error-message {
    font-size: 16px;
    color: red;
    font-weight: 500;
    padding: 2px 3px 3px;
    text-align: center;
    font-family: var(--fontMedium);
}
.edit_tour_modal .submit {
    margin-top: 30px;
}
.edit_tour_modal form .item svg {
    width: 20px;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 47px;    
}

@media(max-width: 700px) {
    .edit_tour_modal .modal_content {
        min-width: inherit;
        width: calc(100% - 40px);
    }

}