.default-modal {
    position: fixed;
    left: 0;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
	display: flex;
	align-items: center;
}
.default-modal h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
.default-modal.transition {
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.default-modal .modal_content {
	max-width: 90%;
	background: #fff;
	border-radius: 16px;
	z-index: 2;
	margin: 0 auto;
	padding: 30px;
	max-height: 90vh;
	overflow: auto;
    width: 100%;
    max-width: 500px;
}
.default-modal .close_button {
	width: 24px;
	height: 24px;
	padding: 4px;
	z-index: 2;
	cursor: pointer;
    margin-left: auto;
    display: block;
}
.default-modal .close_button svg{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.default-modal .close_button svg path {
	transition: 0.3s;
}
.default-modal .close_button:hover svg path {
	fill: var(--btn_bg_color);
}
.default-modal.show_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.default-modal .item {
    width: 600px;
}
.default-modal .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.default-modal .title_text {
    font-family: var(--fontBold);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin: 0;
}
.default-modal .close-button {
    width: 24px;
    height: 24px;
    padding: 4px;
    z-index: 2;
    cursor: pointer;
    margin-left: auto;
    font: 700 32px/1.105 var(--fontBold);
    color: var(--title_color);
    display: block;
}
.default-modal .close-button svg {
    transition: .3s;
}
.default-modal .close-button:hover svg path {
    fill: var(--main_color);
}
.default-modal .choosen-date {
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 30px;
}
.default-modal .available-tours {
    font-size: 16px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #686868;
}
.default-modal .modal_content .gray {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    justify-content: center;
}
.default-modal .modal_content .gray:hover {
    color: #fff;
}
.default-modal .small {
    max-width: 385px;
}
.default-modal .default {
    max-width: 500px;
}
.default-modal .middle {
    max-width: 600px;
}
.default-modal .large {
    max-width: 800px;
}
.default-modal h2 {
    text-align: center;
    margin-bottom: 22px;
    font: 700 32px/1.105 var(--fontBold);
    color: var(--title_color);
}

