.step-3 .subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.step-3 .subtitle-text {
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #686868;
}
.step-3 .title {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 30px;
}
.step-3 .title-text {
    font-size: 32px;
    max-width: 210px;
}
.step-3 .icon-wrap {
    margin-right: 2px;
}
.step-3 form,
.step-3 .form-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: space-between;
}
.step-3 form .item-form {
    width: calc(50% - 20px);
    margin-bottom: 28px;
}
.step-3 form .item-form label span {
    color: #686868;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--fontMedium);
    margin-bottom: 4px;
    display: inline-block;
}
.step-3 form .item-form label span.red {
    display: inline-block;
    color: red;
}
.step-3 form .item-form input {
    border: 2px solid #F6F6F6;
    border-radius: 8px;
    color: #000;
    padding: 15px;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    font-family: var(--fontMedium);
    height: 54px;
}
.step-3 form .full-width.checkbox-item {
    margin-bottom: 0;
}
.step-3 form .full-width {
    width: 100%;
}
.step-3 form .full-width.checkbox-item .form-group {
    display: flex;
    align-items: center;
}
.step-3 form .item-form.checkbox-item input {
    width: auto;
}
.step-3 form .full-width.checkbox-item input {
    position: absolute;
    opacity: 0;
    max-height: 30px;
    display: block;
}
.step-3 form .checkbox-item label {
    display: flex;
    align-items: center;
    color: red;
    font-weight: 500;
    font-family: var(--fontMedium);
    position: relative;
}
.step-3 .terms-and-conditions {
    list-style-type: none;
    display: inline-flex;
    margin-left: 5px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}
.step-3 .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}
.step-3 .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 5px;
    width: 5px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.step-3 .error-box  {
    font-size: 16px;
    color: red;
    padding: 3px;
    font-weight: 500;
    font-family: var(--fontMedium);
    display: none;
}
.step-3 .btns-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    width: 100%;
}
.step-3 .btns-wrap input {
    width: 100%;
    text-align: center;
    justify-content: center;
}
.step-3 .form-group input:checked + label:before {
    background-color: red;
}
.step-3 form .item-form span.error-message {
    font-size: 16px;
    color: red;
    padding: 3px;
    font-weight: 500;
    font-family: var(--fontMedium);
}

.step-3 form .item-form .international-phone input {
    padding-left: 41px;
    border: none;
}


.step-3 .react-tel-input .flag-dropdown {
    border: none;
    border-radius: 6px 0 0 6px !important; 
}
.step-3 form .item-form #phone {
    display: flex;
    padding-left: 8px;
    position: absolute;
    left: 0;
    outline: navajowhite;

}
.step-3 form .international-phone {
    display: flex;
    border: 2px solid #F6F6F6;
    border-radius: 8px;
    position: relative;
}
.step-3  .react-tel-input .selected-flag:hover,
.step-3  .react-tel-input .selected-flag:focus{
    background-color: #F6F6F6;
}
.step-3 form .wrap-input {
    position: relative;
    z-index: 11;
}
.step-3 form .international-phone.border {
    border-color: #000;
    overflow: hidden;
}
.step-3 form .react-tel-input .flag-dropdown {
    background: #F2F2F2;
    width: inherit;
}
.step-3 form .international-phone .react-tel-input input {
    padding-right: 0;
    pointer-events: none;
    width:inherit;
    background: #F2F2F2;
    border-radius: inherit;
    z-index: 111;
    background: transparent;
}
.step-3 .selected-flag {
    width: 100%;
}
.step-3 form .react-tel-input{ 
    width: inherit;
    background-color: #F6F6F6;
    border-radius: 8px 0 0 8px;
}
.step-3 form .international-phone:focus {
    border: 2px solid #ccc;
}

.step-3 .react-tel-input .flag-dropdown.open .selected-flag,
.step-3 .react-tel-input .flag-dropdown.open,
.step-3 .react-tel-input .selected-flag:hover,
.step-3 .react-tel-input .selected-flag:focus {
    background: transparent;
    border-radius: 8px 0 0 8px; 
}

.step-3 form .international-phone div {
    background-color: #F6F6F6 !important    ;
}
.step-3 .btns-wrap button {
    width: 100%;
    justify-content: center;
    text-align: center;
}