.tabs{
    list-style: none;
    margin: 20px 0 0;
    padding: 4px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: var(--bg_color);
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}
.tabs .tab_item{
    display: flex;
    width: calc(25% - 8px);
    position: relative;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 15px;
    margin: 0 4px;
    cursor: pointer;
    order: 9999;
}
.tabs .see-all {
    width: calc(25% - 8px);
    align-items: center;
    border-radius: 8px;
    padding: 15px;
    margin: 0 4px;
    cursor: pointer;
    justify-content: center;
    background: #928F8F;
    text-align: center;
    display: none;
}
.tabs .hide_loader .tab_item.active,
.tabs .active{
    background: #fff;
}
.tabs.not_full li{
    flex-grow: 1;
    justify-content: center;
}
.tabs .icon_wrap{
    width: 24px;
    height: 24px;
    display: flex;
    flex-shrink: 0;
}
.tabs .icon_wrap img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.tabs .icon_wrap svg{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}
.tabs .tab_item span{
    color: var(--title_color);
    margin-left: 8px;
}
.tabs .tab_item.active span{
    color: #D80027;
}

.tabs .box_loader {
    border-radius: 20px;
    font-size: 30px;
    transition: .6s color, .6s border, .6s transform, .6s opacity;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg_color);
    display: none;
}
.tabs .box_loader [class*="loader_"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
}

.tabs .loader_01 {
    border: .2em dotted #333;
    border-radius: 50%;
    animation: 1s loader_01 linear infinite;
}

@keyframes loader-01 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.tabs .hide_loader .box_loader,
.tabs .hide_loader .box_loader{
    display: none !important;
}

/* Responsive */
@media(max-width: 1199px) {
    .tabs .tab_item {
        width: calc(33% - 8px);
    }
}
@media(max-width: 991px) {
    .tabs .tab_item {
        font-size: 14px;
        padding: 10px;
    }
    .tabs .icon_wrap {
        width: 18px;
        height: 18px;
        padding: 1px;
    }
    .tabs .tab_item span {
        margin-left: 4px;
    }
}
@media(max-width:767px){
    .tabs .tab_item {
        font-size: 18px;
        padding: 12px;
    }
    .tabs .wrapper {
        grid-template-columns: 100%;
        grid-gap: 50px;
    }
    .tabs .tab_item {
        width: calc(25% - 8px);
    }
}
@media(max-width: 500px) {
    .tabs .tab_item ,
    .tabs .see-all {
        width:calc(33.3335% - 8px);
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 14px 10px;
    }
    .tabs .tabs_wrap {
        position: relative;
        padding: 0;
        max-height: 110px;
        overflow: hidden;
    }
    .tabs .icon_wrap {
        width: 18px;
        height: 18px;
    }
    .tabs .see-all {
        display: flex;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
}
@media(max-width: 370px) {
    .tabs .see-all {
        max-height: 42px;
    }
    .tabs .tabs_wrap {
        max-height: 100px;
    }
    .tabs .tab_item {
        padding: 12px 8px;
        font-size: 15px;
    }
    .tabs .icon_wrap {
        width: 18px;
        height: 18px;
    }
    .tabs .tab_item span {
        margin-left: 4px;
    }
}
@media(max-width: 319px) {
    .tabs .tab_item {
        font-size: 10px;
    }
    .tabs .icon_wrap {
        width: 12px;
        height: 12px;
    }
    .tabs .see-all {
        font-size: 12px;
        max-height: 36px;
    }
    .tabs .tabs_wrap {
        max-height: 88px;
    }
}