.contact_us_section {
    margin: 65px 0 45px 0;
}
.contact_us_section h2 {
    margin: 0 0 30px 0;
}
.contact_us_section .form_wrap {
    width: 100%;
    max-width: 490px;
}
.contact_us_section .form_item {
    margin-bottom: 15px;
}
.contact_us_section .form_item:last-of-type{
    margin-bottom: 0;
}
.contact_us_section label {
    display: block;
    font-family: var(--fontMedium);
    font-size: 16px;
    line-height: 1.22;
    color: #000;
}
.contact_us_section label span {
    display: inline-block;
    width: 100%;
}
.contact_us_section label .reguired {
    color: var(--main_color);
    display: inline-block;
    width: auto;
}
.contact_us_section .error-message {
    color: #dc3232;
    font-size: 16px;
    font-family: var(--fontMedium);
    font-weight: normal;
    margin-top: 4px;
}
.contact_us_section .thank-you-message {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #46b450;
    text-align: center;
    border-radius: 8px;
}
.contact_us_section .form_wrap input,
.contact_us_section .form_wrap textarea {
    padding: 14px;
    margin: 4px 0 0 0;
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 1.22;
    font-family: var(--fontMedium);
    border: 2px solid var(--bg_color);
    border-radius: 8px;
    outline: none;
}
.contact_us_section .form_wrap input::placeholder,
.contact_us_section .form_wrap textarea::placeholder {
    color: #BDBDBD;
}
.contact_us_section .form_wrap textarea {
    resize: none;
    height: 150px;
}
.contact_us_section .form_btn input,
.contact_us_section .form_btn button {
    padding: 14px;
    margin: 0;
    display: block;
    width: 100%;
    line-height: 1.22;
    border: 2px solid var(--bg_color);
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    font-family: var(--fontMedium);
    color: #fff;
    background: var(--main_color);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.contact_us_section .form_btn {
    margin-top: 45px;
}
.contact_us_section .form_btn input:hover,
.contact_us_section .form_btn button:hover {
    background: var(--hover_color);
}
.contact_us_section .wpcf7-not-valid-tip{
    margin-top: 4px;
}
.contact_us_section .wpcf7-spinner {
    display: none;
}

/*RESPONSIVE*/
@media(max-width: 767px) {
    .contact_us_section {
        margin: 30px 0 65px 0;
    }
}