.leaflet-zoom-animated.leaflet-interactive .icon {
    background: #e10600;
    display: inline-block;
    position: relative;
    transform: rotate(45deg);
    border: 1px solid #e10600;
    border-radius: 44px;
    width: 44px;
    height: 44px;
    border-bottom-right-radius: 0;
}


.leaflet-zoom-animated.leaflet-interactive .icon.active {
    width: 63px;
    height: 63px;
}

.map_block .leaflet-div-icon {
	background: transparent;
	border: none !important;
}
.circles {
    display: flex;
    justify-content: center;
    transform: rotate(-45deg);
    left: 0;
    position: absolute;
    /* height: 46px; */
    /* width: 46px; */
    top: 0;
    align-items: end;
    right: 0;
    margin: 0 5px 0 auto;
    bottom: 5px;
}
.circles span {
    border: 1px solid #fff;
	width: 10px;
    height: 10px;
	border-radius: 8px;
}
.leaflet-zoom-animated.leaflet-interactive img {
    padding: 2px !important;
    width: 100% !important;
    height: 100% !important;
    transform: rotate(-45deg) !important;
}

.marker {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #e10600;
    display: inline-block;
    border-bottom-right-radius: 0;
    position: relative;
    transform: rotate(45deg);
    border: 1px solid #e10600;
}
.marker .marker_content {
    content: "";
    background: white;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
	border: solid 3px #fff;
    margin: auto;
    transform: rotate(-45deg);
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
}
.marker.small {
	border-radius: 20px;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 0;
    display: block;
    margin: auto;
}
.marker.default {
	border-radius: 35px;
    width: 35px;
    height: 35px;
    border-bottom-right-radius: 0;
    display: block;
    margin: auto;
}
.map_block .icon img {
	width: 70px;
	height: 70px;
	border-radius: 100%;
}
