.step-2 .tours-wrap {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 15px;
    margin-top: 30px;
}
.step-2 .available-tours {
    margin: 30px 0 15px 0;
}
.step-2 .disable {
    pointer-events: none;
}
.step-2 .clock-wrap svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}