.single-post {
    display: grid;
    grid-template-columns: 2.16fr 1fr;
    grid-gap: 30px;
    margin-top: 80px
}
.single-post:nth-child(2n+2) {
    grid-template-columns: 1fr 2.16fr
}
.single-post h3 {
    grid-column: 1/-1;
    margin: 0
}

.single-post h3 a {
    color: var(--title_color);
    font-size: inherit;
    transition: .3s ease-in-out
}
.single-post h3 a:hover {
    opacity: .7
}

.single-post h3 {
    grid-column: 1/-1
}
.single-post:nth-child(2n+2) .single-post-img {
    order: 1
}
.single-post-img a {
    display: block;
    position: relative;
    padding-top: 68%;
    border-radius: 8px;
    overflow: hidden
}
.single-post-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}
.single-post-text {
    color: var(--title_color);
    line-height: 1.24;
}
.single-post-text h2 {
    font: 400 20px/1.1 var(--font);
    display: inline;
}
.single-post-text p {
    margin: 25px 0 0
}
.single-post-text p:first-child {
    margin: 0;
    /*-webkit-line-clamp: 7;*/
    /*-webkit-box-orient: vertical;*/
    /*display: -webkit-box;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}
.single-post-text ul {
    list-style: none;
    display: inline;
}
.single-post-text ul li {
    display: inline;
}
.single-post-text strong {
    font-weight: 400;
}
.single-post-text {
    height: 299px;
    position: relative;
    overflow: hidden;
}
.single-post-text ul,
.single-post-text ol {
    list-style-position: inside;
}