.text_blocks {
    margin: 80px 0;
}
.text_blocks .wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
@media (max-width: 991px) {
    .text_blocks .wrapper {
        grid-template-columns: 1fr;
    } 
}