.faq {
    margin: 80px 0 155px;
    display: block!important;
}
.faq h2 {
    margin: 0;
    text-transform: uppercase;
}
.faq .title {
    margin: 0
}
.faq .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 30px;
    align-items: start;
    margin-top: 30px
}
.faq .block_item {
    border-radius: 8px;
    background: var(--bg_color);
    position: relative;
    overflow: hidden;
}
.faq button {
    padding: 20px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    cursor: pointer;
}

.faq .title {
    font-family: var(--fontMedium);
    font-size: 18px;
    font-weight: 500;
    color: var(--title_color);
    line-height: 1.22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.faq .icon {
    width: 24px;
    height: 24px;
    background: var(--main_color);
    border-radius: 50%;
    flex-shrink: 0;
    margin-left: 10px;
    position: relative
}

.faq .icon .horizontal {
    position: absolute;
    top: 11px;
    left: 7px;
    width: 10px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    transition: .3s
}

.faq .icon .vertical {
    position: absolute;
    top: 7px;
    left: 11px;
    width: 2px;
    height: 10px;
    background: #fff;
    border-radius: 2px;
    transition: .3s
}

.faq button[aria-expanded="true"] .horizontal {
    transform: rotate(180deg)
}

.faq button[aria-expanded="true"] .vertical {
    transform: rotate(180deg);
    opacity: 0
}

.faq .block_text {
    font-family: var(--font);
    font-size: 20px;
    color: #686868;
    line-height: 1.32;

}
.faq .block_text .text {
    padding: 0 20px 15px 15px;
}


@media(max-width: 767px) {
    .faq {
        margin:65px 0 190px
    }

    .faq .wrapper {
        grid-template-columns: 100%;
        grid-gap: 15px
    }

    .faq .block_title {
        font-family: var(--fontMedium);
        font-size: 18px;
        font-weight: 500
    }

    .faq .block_text {
        font-size: 16px
    }
}
