.custom_modal .trigger{
    text-align: center;
    padding: 7px 13px;
    background: #3e3e3e;
    color: #fff;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: cursive;
}

.custom_modal {
    position: fixed;
    left: 0;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
	display: flex;
	align-items: center;
}
.custom_modal h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
.custom_modal.transition {
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.custom_modal .modal_content {
	max-width: 90%;
	background: #fff;
	border-radius: 16px;
	z-index: 2;
	margin: 0 auto;
	padding: 30px;
	max-height: 90vh;
	overflow: auto;
}
.custom_modal .close_button {
	width: 24px;
	height: 24px;
	padding: 4px;
	z-index: 2;
	cursor: pointer;
    margin-left: auto;
    display: block;
}
.custom_modal .close_button svg{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.custom_modal .close_button svg path {
	transition: 0.3s;
}
.custom_modal .close_button:hover svg path {
	fill: var(--btn_bg_color);
}
.custom_modal.show_modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.custom_modal .item {
    width: 600px;
}
.custom_modal .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom_modal .title_text {
    font-family: var(--fontBold);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin: 0;
}
.custom_modal .close-button {
    width: 24px;
    height: 24px;
    padding: 4px;
    z-index: 2;
    cursor: pointer;
    margin-left: auto;
}
.custom_modal .close-button svg {
    transition: .3s;
}
.custom_modal .close-button:hover svg path {
    fill: var(--main_color);
}
.custom_modal .choosen-date {
    font-size: 20px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 30px;
}
.custom_modal .available-tours {
    font-size: 16px;
    font-family: var(--fontMedium);
    font-weight: 500;
    color: #686868;
}


.custom_modal .modal_content .gray {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    justify-content: center;
}
.custom_modal .modal_content .gray:hover {
    color: #fff;
}


.custom_modal .small {
    width: 385px;
}
.custom_modal .default {
    width: 600px;
}
.custom_modal .large {
    width: 800px;
}

@media(max-width: 991px) {
    .custom_modal .small {
        width: 385px;
    }

    .custom_modal .large,
    .custom_modal .default {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .item-3 .subtitle-text.subtitle-text-mobile {
        display: block;
    }
    .custom_modal .small {
        width: 100%;
    }
    .custom_modal .modal_content {
        width: 100%;
    }
}