/* FONTS */
@import 'assets/fonts/fonts.css';



:root {
  --main_color: #e10600;
  --second_color: #FFC107;
  --hover_color: #f14742;
  --title_color: #000;
  --bg_color: #f7f7f7;
  --font-ciliric: 'Carlito';
  --font: var(--font-brand-regular) , var(--font-ciliric);
  --fontMedium: var(--font-brand-medium) , var(--font-ciliric);
  --fontBold: var(--font-brand-bold) , var(--font-ciliric);
  --geomanist_light: 'Geomanist300';
  --geomanist_regular: 'Geomanist400';
  --geomanist_medium: 'Geomanist500';
  --geomanist_bold: 'Geomanist700';
  --font_300: var(--geomanist_light) , var(--font-ciliric);
  --font_400: var(--geomanist_regular) , var(--font-ciliric);
  --font_500: var(--geomanist_medium) , var(--font-ciliric);
  --font_700: var(--geomanist_bold) , var(--font-ciliric);
}

html, body {
  width: 100%;
  height: 100%;
}
.main_flex_container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.main_flex_container > main {
  flex-grow: 1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  font: 400 20px/1.1 var(--font);
  color: var(--text_color);
  margin: 0;
}
h1 {
  font: 700 72px var(--fontBold);
  color: var(--title_color);
}
h2 {
  font: 700 40px/1.105 var(--fontBold);
  color: var(--title_color);
}
h3 {
  font: 700 32px/1.105 var(--fontBold);
  color: var(--title_color);
}
h4 {
  font: 400 28px var(--fontBold);
  color: var(--title_color);
  font-weight: 700;
}
h5 {
  font: 400 24px var(--fontBold);
  color: var(--title_color);
}
h6 {
  font: 400 18px var(--fontBold);
  color: var(--title_color);
}
@media(max-width: 767px) {
  h1 {
      font-size: 48px;
  }
  h2 {
      font-size: 32px;
  }
  h3 {
      font-size: 32px;
  }
  body {
      font-size: 14px;
  }
}
.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1260px;
}

a {
  color: inherit;
  text-decoration: none;
}
.block-center {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

/* swiper global css */
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  bottom: calc(50% - 43px) !important;
  top: auto;
  width: 48px;
  height: 48px;
  background: var(--main_color);
  border-radius: 8px;
  transition: .3s ease-in-out;
}
.swiper .swiper-button-next::before,
.swiper .swiper-button-prev::before {
  display: flex;
  content: '';
  position: absolute;
  justify-content: center;
  align-items: center;
  background: url('assets/images/svg/arrow-swiper.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.swiper .swiper-button-prev::before{
  transform: rotate(180deg);
}
.swiper .swiper-pagination-bullet-active {
  background: var(--main_color);
}
.swiper .swiper-pagination-bullet {
  margin: 0 6px !important;
  opacity: 1;
  background: #F2F2F2;
}
.swiper .swiper-pagination-bullet-active {
  background: var(--main_color);
}
.show_modal {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1.0) !important;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s !important;
}
.wpContent {
    max-width: 700px;
    font-size: 16px;
    margin-bottom: 30px;
}
.wpContent h1 {
  font-size: 40px;
  line-height: 1;
  margin: 65px 0 30px 0;
}
.wpContent article > .wrapper {
  max-width: 700px;
  font-size: 16px;
  margin-bottom: 30px;
}
.wpContent .wrapper p:last-of-type {
  margin-bottom: 0;
}
.wpContent p:empty {
  display: none;
}
.wpContent h1{
  font-size: 40px;
  line-height: 1;
  margin: 65px 0 30px 0;
}
.wpContent .buttons_wrapper {
  display: flex;
  margin-bottom: 80px;
}
.wpContent .buttons_wrapper a:first-of-type {
  margin-right: 20px;
}
.wpContent .buttons_wrapper a {
  width: 335px;
  font-size: 16px;
  font-family: var(--fontMedium);
  padding: 12px 32px;
  background: var(--bg_color);
  color: var(--btn_bg_color);
  text-align: center;
  transition: .3s ease-in-out;
  border-radius: 8px;
}
.wpContent .buttons_wrapper a:hover {
  background: #dedcdc;
}
.wpContent h2 {
  margin: 0 0 30px 0;
  font: 700 40px/1.105 var(--fontBold);
  color: var(--title_color);
}
.wpContent h3 {
  margin: 0 0 30px 0;
  padding-top: 40px;
  font-size: 24px;
  line-height: 1.11;
}
.wpContent #general-terms {
  margin-top: 50px;
}
.wpContent ul {
  padding: 0;
  margin: 50px 0;
  list-style: none;
}
.wpContent ul:last-of-type {
  margin-bottom: 0;
}
.wpContent ul li {
  margin-bottom: 15px;
}
.wpContent ul li:last-child {
  margin-bottom: 0;
}
.wpContent ul li a {
    color: var(--btn_bg_color);
}
.wpContent figure {
  margin: 20px 0;
}
.wpContent table {
  width: 100%;
}
.wpContent table, .wpContent th, .wpContent td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
