
.text_and_slider {
    margin: 0 0 80px 0;
    padding-top: 54px;
}

.text_and_slider .arrow-right-b {
    position: relative;
    top: -1px;
    font-size: 20px;
}

.text_and_slider .swiper-button-lock {
    display: flex;
}
.text_and_slider .wrapper {
    display: grid;
    grid-template-columns: 490px 685px;
}
.text_and_slider h2 {
    margin: 0 0 30px 0;
}
.text_and_slider .intro {
    width: 100%;
    max-width: 385px;
}
.text_and_slider .intro ul {
    padding: 0;
    margin: 0 0 50px 0;
    font-size: 16px;
    line-height: 1.18;
}
.text_and_slider .intro li:not(:last-of-type) {
    margin-bottom: 30px;
}
.text_and_slider .intro li::marker {
    font-size: 10px;
    color: var(--btn_bg_color);
}
.text_and_slider .intro li span {
    font-family: var(--fontBold);
}
.text_and_slider .right_box-intro {
    position: relative;
    overflow: hidden;
    padding: 0 30px;
}
.text_and_slider .button {
    display: block;
    padding: 12px;
    width: 100%;
    text-align: center;
}
.text_and_slider .img_box {
    position: relative;
    padding-top: 56%;
}
.text_and_slider .img_box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.text_and_slider .swiper-button-prev:after,
.text_and_slider .swiper-button-next:after {
    display: none;
}
.text_and_slider .swiper-button-prev,
.text_and_slider .swiper-button-next {
    width: 48px;
    height: 48px;
    background: var(--btn_bg_color);
    border-radius: 8px;
    transition: .3s ease-in-out;
}
.text_and_slider .swiper-button-next {
    right: 5px;
}
.text_and_slider .swiper-button-prev {
    left: 5px;
}
.text_and_slider .swiper-button-prev:hover,
.text_and_slider .swiper-button-next:hover {
    background: var(--btn_hover);
}
.text_and_slider .swiper-button-prev svg {
    transform: rotate(180deg);
}
.text_and_slider .swiper-button-next.swiper-button-disabled,
.text_and_slider .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}
.text_and_slider .swiper-pagination.swiper-pagination-bullets{
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
}
.text_and_slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--btn_bg_color);
}
.text_and_slider .swiper-pagination-bullet {
    margin: 0 6px !important;
    opacity: 1;
    background: #F2F2F2;
}
/*RESPONSIVE*/
@media(max-width: 1199px) {
    .text_and_slider .wrapper {
        grid-template-columns: 100%;
    }
    .text_and_slider .left_box {
        order: 1;
        background: #F7F7F7;
        border-radius: 0 0 8px 8px;
        padding: 30px;
    }
    .text_and_slider .right_box-intro {
        padding: 0;
    }
    .text_and_slider .img_box img {
        border-radius: 8px 8px 0 0;
    }
    .text_and_slider .intro {
        max-width: 100%;
    }
}
@media(max-width: 767px) {
    .text_and_slider {
        margin: 0 0 65px 0;
        padding-top: 39px;
    }
    .text_and_slider .left_box {
        padding: 15px 20px;
    }
    .text_and_slider .swiper-button-prev,
    .text_and_slider .swiper-button-next {
        display: none;
    }
    .text_and_slider h2 {
        font-size: 24px;
    }
    .text_and_slider h2,
    .text_and_slider .intro li:not(:last-of-type),
    .text_and_slider .intro ul{
        margin-bottom: 25px;
    }
    .text_and_slider .intro ul,
    .text_and_slider .button  {
        font-size: 16px;
    }
    .text_and_slider .swiper-pagination.swiper-pagination-bullets {
        bottom: 10px;
    }
}
@media(max-width: 480px) {
    .text_and_slider .img_box {
        padding-top: 65%;
    }
}
