.highlights .wrapper {
    position: relative;
    padding-bottom: 25px;
}
.highlights .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
    height: auto;
}
.highlights .swiper-slide {
    padding-top: 64.5%;
}
.highlights .swiper-slide {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.highlights .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.highlights .swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}