.highlights {
    margin: 45px 0;
}
.highlights .wrapper {
    position: relative;
    padding-bottom: 25px;
}
.highlights .swiper-wrapper {
    margin-top: 30px;
    height: auto;
}
.highlights .swiper-slide {
    padding-top: 64.5%;
}
.highlights .swiper-slide {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.highlights .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.highlights .swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

@media(min-width: 768px) {
    .highlights .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin-top: 30px;
        height: auto;
        transform: none !important;
        pointer-events: none;
    }
    .highlights .swiper-slide {
        width: 100% !important;
    }
    .highlights .swiper-pagination {
        display: none;
    }
}
@media(max-width: 767px) {
    .highlights .swiper-wrapper {
        padding-bottom: 25px;
    }
    .highlights .wrapper .swiper-pagination {
        bottom: 0;
        left: -20px;
    }
    .highlights .container {
        padding-right: 0;
    }
    .highlights .swiper-slide {
        padding-top: 72.7%;
        background: #ccc;
    }
}
