.map_block {
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*gap: 20px;*/
}
.map_block .scroll {
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}
.map_block button {
    padding: 20px 52px 20px 22px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    min-height: 60px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-family: var(--fontMedium);
    transition: .3s;
    text-align: left;
    flex-shrink: 0;
    background-color: #F6F6F6;
    color: #000000;
    position: relative;
}
.map_block button.active {
    background-color: #D9D9D9;
    pointer-events: none;
}
.map_block .place_select_post_clear {
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    min-height: 60px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-family: var(--fontMedium);
    transition: .3s;
    text-align: left;
    background-color: #e10600;
    font-size: 20px;
    margin-left: auto;
    position: absolute;
    right: 0;
    z-index: 100;
    bottom: 0;
    padding: 15px 24px;
}
.map_block .place_select_post_clear img {
    margin-right: 9px;
    flex-shrink: 0;
}
.map_block .place_select_post_clear:hover {
    opacity: .7;
}

.map_block button .status {
    margin-left: 15px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: #00E15A;
    position: absolute;
    right: 19px;
}

@media (max-width: 991px) {
    .scroll {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    .row {
        display: flex;
        flex-wrap: nowrap;
        grid-gap: 10px;
    }
}


