.map_block {
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*gap: 20px;*/
}
.map_block .leaflet-container {
    height: 666px !important;
}
.map_block .scroll {
    position: relative;
    width: 100%;
    margin-bottom:15px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
}
.map_block .scroll-wrap {
    position: relative;
}
.map_block .scroll .row {
    display: flex;
    gap: 0 20px;
}
.map_block button {
    padding: 20px 52px 20px 22px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    min-height: 60px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-family: var(--fontMedium);
    transition: .3s;
    text-align: left;
    flex-shrink: 0;
    background-color: #F6F6F6;
    color: #000000;
    position: relative;
    margin-bottom: 20px;
}
.map_block button.active {
    background-color: #D9D9D9;
    pointer-events: none;
}
.map_block .place_select_post_clear {
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    min-height: 60px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-family: var(--fontMedium);
    transition: .3s;
    text-align: left;
    background-color: #e10600;
    font-size: 20px;
    margin-left: auto;
    position: absolute;
    right: 0;
    z-index: 100;
    bottom: 0;
    padding: 15px 24px;
}
.map_block .place_select_post_clear img {
    margin-right: 9px;
    flex-shrink: 0;
}
.map_block .place_select_post_clear:hover {
    opacity: .7;
}

.map_block button .status {
    margin-left: 15px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50px;
    background: #00E15A;
    position: absolute;
    right: 19px;
}
@media(min-width: 767px) {
    .map_block .scroll button:last-child {
        margin-right: 160px;
    }
}
@media (max-width: 991px) {
    .scroll {
        display: flex;
        overflow-y: auto;
    }
    .row {
        display: flex;
        flex-wrap: nowrap;
        grid-gap: 10px;
    }
}
@media (max-width: 767px) {
    .map_block .buttons-map button {
        padding: 6px 45px 6px 20px;
    }
    .map_block .buttons-map button,
    .map_block .place_select_post_clear {
        margin-right: 10px;
        font-size: 16px;
        font-family: var(--fontMedium);
        min-height: 32px;
        margin-bottom: 10px;
    }

    .map_block button .status {
        width: 10px;
        height: 10px;
        position: absolute;
        right: 19px;
    }
    .map_block .place_select_post_clear {
        position: static;
        padding-left: 8px;
        padding-right: 8px;
        min-width: 80px;
        bottom: 10px;
        height: 32px;
        margin-bottom: 10px;
        min-height: 32px;
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
        margin-left: 0;
        margin-right: auto;
    }
    .map_and_slider .place_select_post_clear img {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
    .map_block .scroll {
        margin-bottom: 5px;
    }
    .map_block .leaflet-container {
        margin: 0 -20px;
        width: calc(100% + 40px) !important;
    }
    .map_block .leaflet-container {
        height: 315px !important;
    }
}